<template>
  <div>
    <h1>공공데이터 정보</h1>
      <v-data-table
      :headers="headers"
      :items="items"
      :items-per-page="10"
      class="elevation-1"
      :loading="loading"
      loading-text="Please Wait..."
    ></v-data-table>
  </div>
</template>
<script>
import axios from "axios";
export default {
  name: "Land",
  data() {
    return {
      loading: false,
      items: [],
      error: null,
      headers: [
        {
          text: "거래금액",
          align: "start",
          sortable: false,
          value: "거래금액",
        },
        { text: "건축년도", value: "건축년도" },
        { text: "법정동", value: "법정동" },
        { text: "전용면적", value: "전용면적" },
        { text: "년", value: "년" },
        { text: "지역코드", value: "지역코드" },
      ],
    };
  },
  async mounted() {
    try {
      const response = await axios.get(
        "http://openapi.molit.go.kr:8081/OpenAPI_ToolInstallPackage/service/rest/RTMSOBJSvc/getRTMSDataSvcAptTrade?serviceKey=E12X7L6J0%2FnNImxFB0eZF361h5A6CyxwG02dEQYnodqCh7Wovpm1a7iC0oHScN3kPr5GUqq%2BFTo%2Fgf9ie7o4uQ%3D%3D&LAWD_CD=11110&DEAL_YMD=201512" //"http://dflex.co.kr/dflex/items/products"
      ); //.then((response) => response.json());
      this.items = response.data.response.body.items.item;
      console.log(response.data.response.body.items.item);
      this.loading = false;
    } catch (error) {
      this.error = error;
    }
  },
};
</script>
