<template>
    <v-simple-table>
        <template v-slot:default>
            
      <thead>
                
        <tr>
                    
          <th class="text-left">이름</th>
                    
          <th class="text-left">Calories</th>
                  
        </tr>
              
      </thead>
            
      <tbody>
                
        <tr v-for="product in products" :key="product.index">
                    
          <td>{{ product.name }}</td>
                    
          <td>{{ product.description }}</td>
        </tr>
              
      </tbody>
          </template
    >
      </v-simple-table
  >
</template>

<script>
import axios from 'axios'
export default {
  name: 'Directus',
  data() {
    return {
      products: [],
      error: null,
    }
  },
  async mounted() {
    try {
      const response = await axios.get(
        'http://dflex.co.kr/dflex/items/products'
      )
      this.products = response.data.data
      console.log(this.products)
    } catch (error) {
      this.error = error
    }
  },
}
</script>