<template>
<div>
  <div id="map"></div>
  <button @click="setOverlayMapTypeId('traffic')">교통정보</button>
  <button @click="setOverlayMapTypeId('roadview')">로드맵</button>
  <button @click="setOverlayMapTypeId('terrain')">지형도</button>
  <button @click="setOverlayMapTypeId('use_district')">지적도</button>
</div>
</template>

<script>
export default {
  name: 'Map',
  data() {
    return {
      currentTypeId : '',
      map : ''
    }
  },
  mounted() {
    window.kakao && window.kakao.maps ? this.initMap() : this.addScript()
  },
  methods: {
    initMap() {
      const container = document.getElementById('map')
      const screenWidth  = window.screen.width;
      const screenHeight = window.screen.height;
      console.log(screenWidth, screenHeight)
      container.width = screenWidth
      container.height = screenHeight
      const options = {
        center: new kakao.maps.LatLng(33.450701, 126.570667),
        level: 3,
      }
      this.map = new kakao.maps.Map(container, options)
      const marker = new kakao.maps.Marker({ position: this.map.getCenter() })
      marker.setMap(this.map)
    },
    addScript() {
      const script = document.createElement('script')
      script.onload = () => kakao.maps.load(this.initMap)
      script.src =
        'http://dapi.kakao.com/v2/maps/sdk.js?autoload=false&appkey=bd50150034aea7bc812e0bc7af01c58f'
      document.head.appendChild(script)
    },
    setOverlayMapTypeId(maptype) {
      var changeMaptype
      // maptype에 따라 지도에 추가할 지도타입을 결정합니다
      if (maptype === 'traffic') {
        // 교통정보 지도타입
        changeMaptype = kakao.maps.MapTypeId.TRAFFIC
      } else if (maptype === 'roadview') {
        // 로드뷰 도로정보 지도타입
        changeMaptype = kakao.maps.MapTypeId.ROADVIEW
      } else if (maptype === 'terrain') {
        // 지형정보 지도타입
        changeMaptype = kakao.maps.MapTypeId.TERRAIN
      } else if (maptype === 'use_district') {
        // 지적편집도 지도타입
        changeMaptype = kakao.maps.MapTypeId.USE_DISTRICT
      }
      // 이미 등록된 지도 타입이 있으면 제거합니다
      if (this.currentTypeId) {
        this.map.removeOverlayMapTypeId(this.currentTypeId)
      }
      // maptype에 해당하는 지도타입을 지도에 추가합니다
      this.map.addOverlayMapTypeId(changeMaptype)

      // 지도에 추가된 타입정보를 갱신합니다
      this.currentTypeId = changeMaptype
    },
  },
}
</script>
<style>
#map {
  width: 100vw;
  height: 100vh;
  border: 1px solid red;
}
</style>
