<template>
  <div>
    <v-card v-for="portfolio in portfolios" :key="portfolio.id">
      <template slot="progress">
        <v-progress-linear
          color="deep-purple"
          height="10"
          indeterminate
        ></v-progress-linear>
      </template>

      <v-img :src="portfolio.thumnb" height="250">{{ portfolio.thumnb }}</v-img>

      <v-card-title>{{ portfolio.subject }}</v-card-title>

      <v-card-text>
        <v-row align="center" class="mx-0">
          <v-rating
            :value="4.5"
            color="amber"
            dense
            half-increments
            readonly
            size="14"
          ></v-rating>

          <div class="grey--text ml-4">4.5 (413)</div>
        </v-row>

        <div class="my-4 subtitle-1">$ • Italian, Cafe</div>

        <div>
          Small plates, salads & sandwiches - an intimate setting with 12 indoor seats
          plus patio seating.
        </div>
      </v-card-text>

      <v-divider class="mx-4"></v-divider>

      <v-card-title>Tonight's availability</v-card-title>

      <v-card-text>
        <v-chip-group
          v-model="selection"
          active-class="deep-purple accent-4 white--text"
          column
        >
          <v-chip>5:30PM</v-chip>

          <v-chip>7:30PM</v-chip>

          <v-chip>8:00PM</v-chip>

          <v-chip>9:00PM</v-chip>
        </v-chip-group>
      </v-card-text>

      <v-card-actions>
        <v-btn color="deep-purple lighten-2" text> Reserve </v-btn>
      </v-card-actions>
    </v-card>
  </div>
</template>

<script>
import axios from "axios";
export default {
  name: "Portfolio",
  data() {
    return {
      portfolios: [],
      error: null,
    };
  },
  async mounted() {
    try {
      const response = await axios.get("http://dflex.co.kr/dflex/items/portfolios");
      this.portfolios = response.data.data;
      console.log(this.portfolios[0].thumnb);
    } catch (error) {
      this.error = error;
    }
  },
  mathod: {
    async getFileSrc(id) {
      const fileSrc = await axios.get("http://dflex.co.kr/dflex/files/" + id);
      console.log(fileSrc);
    },
  },
};
</script>
